venv
.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.pdb  
*.egg
*.egg-info
*.whl
*.dist-info
*.db
*.sqlite3
*.log
*.coverage
*.mypy_cache
*.pytest_cache
*.hypothesis
*.DS_Store
*.idea
*.vscode
*.sublime-project
*.sublime-workspace
*.swp
*.bak
*.tmp
*.orig
*.swm
*.swo
*.env
*.env.*
*.local
*.secret
*.secrets
*.config
*.cache
*.out
*.config
lib/
Lib 
*.dll
Include
*.so
pmsystem

